!!! 1.1
%html
  %head
    %title
      Example №3
    %meta{ :http-equiv => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8' }
   %link{ :rel => 'stylesheet', :href => '/public/css/basic.css', :type => 'text/css', :media => 'screen' }
    = $layout->css();
    
  %body
    %h1
      HELLO
    %div
      - 2 + 4
      = $layout->fragment['users'];